<div class= "user">
    <input [(ngModel)] ="user" type = "text">
    <button (click) = "changeUser()"> Go to user</button>
</div>
<div>
    {{user}}
    <ul>
        <todo *ngFor ="let todo of todos" 
              [data] ="todo"  
              (myButtonClick) = "showText($event)"
              ></todo>
      </ul>
</div>