<mat-card class="example-card">
    <mat-card-content>
        
        <button (click) = "toTodos()" >
          Todos
        </button>
        <button *ngIf="!(authService.user | async)" (click) = "toLogin()">
          Login
        </button>

        
        <button *ngIf="!(authService.user | async)" (click) = "toRegister()" >
          Register
        </button>
        <button (click) = "toCodes()" >
          Codes
        </button>
        <button (click) = "toUsertodos()" >
          User todos
        </button>
        <button *ngIf="authService.user | async" (click) = "toLogout()" >
          Log out
        </button>
    </mat-card-content>
</mat-card>
<div *ngIf="authService.user | async">
  <h1>
    Hey there {{(authService.user | async)?.displayName}} !
  </h1>
</div>
