<header>
  <h1>Your todos list</h1> 
 </header>
<br>
<div>
  <mat-list>
    <todo *ngFor ="let todo of todos" 
          [data] ="todo"  
          (myButtonClick) = "showText($event)"
          ></todo>
  </mat-list>

  {{text}}
</div>
<br>
<button mat-raised-button (click)= "addTask()">
  Add
</button>

<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Enter new task" [(ngModel)]="newTask">
  </mat-form-field>
</div>
