<mat-list-item (mouseleave) = "notOver()"
    (mouseenter) = "over()">
  <span *ngIf= "!showEditField" (click)= "showEdit()">{{text}}   </span> 
  <mat-form-field *ngIf= "showEditField">
    <input matInput  [(ngModel)]="text">
  </mat-form-field>
  <button mat-raised-button *ngIf= "showEditField" (click)="save()">Save</button>
  <button mat-raised-button *ngIf= "showEditField" (click)="cancel()">Cancel</button>

  <button mat-raised-button (click) = "delete()"
          *ngIf = "showButton"
          >
      Delete
  </button>
</mat-list-item>
